<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AllForeman</title>
</head>
<body>
<h3 th:text="${objectDTO.id + '. ' + objectDTO.name + ' ' + objectDTO.address + ' ' + objectDTO.postcode }"></h3>
<hr/>
<h5>Список бригадиров:</h5>
<p th:if="${foremanDTOList.isEmpty()}">Нет ни одного бригадира!</p>
<div th:unless="${foremanDTOList.isEmpty()}" th:each="foreman : ${foremanDTOList}">
    <br/>
    <a th:href="@{/foreman/{id}(id = ${foreman.id})}"
       th:text="${foreman.id + '. ' + foreman.name + ' ' + foreman.info }"></a>
</div>

<hr/>
<form method="GET" th:action="@{/object/{id}/edit(id = ${objectDTO.id})}">
    <input type="submit" value="Изменить объект">
</form>
<br/>
<form method="GET" th:action="@{/foreman/object/{id}/getForm(id = ${objectDTO.id})}">
    <input type="submit" value="Добавить бригадира">
</form>
<br/>
</body>
</html>
