<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>allOrders</title>
</head>
<body>
<h3 th:text="${object.id + '. ' + object.name + ' ' + object.address + ' ' + object.postcode }"></h3>
<hr/>
<p th:if="${orders.isEmpty()}">Нет ни одного заказа!</p>
<div  th:unless="${orders.isEmpty()}" th:each="order : ${orders}">

</div>
<hr/>
<form method="get" th:action="@{/order/object/{id}/getFormOrder(id = ${object.id})}">
    <input type="submit" value="Сделать заказ">
</form>
</body>
</html>
