<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>formEdit</title>
</head>
<body>
<h3>Редактирования личных данных:</h3>
<form method="POST" th:action="@{/auth/edit}" th:object="${adminDTO}">
    <input type="hidden" th:field="*{id}">
    <label for="username">Введите имя:</label>
    <div style="color:red" th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}"></div>
    <input type="text" th:field="*{username}" id="username">
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}"></div>
    <br/>
    <label for="role">Выберите роль:</label>
    <select th:field="*{role}" id="role">
        <option th:each="x : ${roles}" th:value="${x}" th:text="${x}"></option>
    </select>
    <br/>
    <hr/>
    <input type="submit" value="Изменить!">

</form>

</body>
</html>
