<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>form_itam</title>
</head>
<body>
<h3>Добавления материала:</h3>
<form method="post" th:action="@{/itam/object/{id}/save(id=${object.id})}" th:object="${itam}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label for="name">Введите название материала</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <hr/>
    <input type="submit" value="Добавить!">
</form>
</body>
</html>
