<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<h3>Welcome</h3>
<p th:text="${'Права: ' + adminDTO.role}"></p>
<p th:text="${'ID: ' + adminDTO.id + ' ' + adminDTO.username }"></p>
<br/>
<a th:href="@{/object/all}">Список объектов</a>


<hr/>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!">
</form>
<form method="GET" th:action="@{/auth/editForm/{id}(id=${adminDTO.id})}">
    <input type="submit" value="Изменить личные данный">
</form>


</body>
</html>
